includes:
    - vendor/symplify/easy-coding-standard/config/psr2.neon
    - vendor/symplify/easy-coding-standard/config/php71.neon
    - vendor/symplify/easy-coding-standard/config/symplify.neon
    - vendor/symplify/easy-coding-standard/config/common.neon

checkers:
    - SlevomatCodingStandard\Sniffs\Classes\UnusedPrivateElementsSniff

    # Metrics
    PHP_CodeSniffer\Standards\Generic\Sniffs\Files\LineLengthSniff:
        absoluteLineLimit: 120
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\CyclomaticComplexitySniff:
        absoluteComplexity: 5
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\NestingLevelSniff:
        absoluteNestingLevel: 3

    # Class should be Final or Abstract
    - SlamCsFixer\FinalInternalClassFixer
