name: Tests

on:
    pull_request: null
    push:
        branches:
            - master

jobs:
    tests:
        strategy:
            fail-fast: false
            matrix:
                php:
                    - 7.3
                    - 7.4
                    - 8.0

        runs-on: ubuntu-latest

        name: Tests

        steps:
            -   uses: actions/checkout@v2

            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.matrix.php }}
                    coverage: none

            # composer install cache - https://github.com/ramsey/composer-install
            -   uses: "ramsey/composer-install@v1"

            -   run: vendor/bin/phpunit
